@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #FDF6DD;
    max-height: 100vh;
    width: 100%;
}
li{
    list-style: none;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0px;
}

a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    
}
nav{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    display:flex;
    min-height: 10vh;
    background-color: white;
    box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;

}
h2{
    text-align: center;
    line-height: 20px;
    margin-left:-5px ;
    cursor: pointer;
}
h1{
    text-align: center;
    font-size: 40px;
    margin:20px 0px 0px 0px;
}
p{
    font-size: 23px;
    margin-left: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p::after{
    content: '';
    display: block;
    background-color: black;
    width: 70%;
    height: 2px;
    margin:20px auto;
    border-radius:80px;
}
.c-font{
    font-family: 'Overlock SC', cursive;
}
.m-hide{
    display: none;
}
.nav-links{
    display:flex;
}
.logo-div{
    display:flex;
    align-items: center;
    width: 35%;
}
.logo-div img{
    width: 40px;
    height:40px;
    margin-left: -15px;
}
.container{
    max-width: 100%;
    margin-top: 8vh;
    position: relative;
}
#nav-btn{
    width: 20%;
    min-height: 6px;
    border-radius: 20px;
    background-color: rgb(235, 110, 110);
    border: none;
    cursor: pointer;
    margin-bottom: 10%;
}
.bottom-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom:0;
    min-width: 100%;
    height: 55vh;
    background-color:#afc595;
    border-radius: 30px 30px 0 0;
    box-shadow:0px -1px 7px rgba(0, 0, 0, 0.25);
    padding: 10px 0px 0px 0px;
    transition:0.5s ease;
    transform: translateY(50vh);
}
.bottom-nav.open{
    transform: translateY(0vh);
}
.landing-img img{
    display: block;
    margin:0 auto;
    width: 320px;
}
.cta-btn{
    width: 150px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}
#arrow{
    position: relative;
    left: 46%;
    height: 50px;
    animation:up  0.8s infinite alternate ease;

}
@keyframes up {
    0%{
        top:0px;
    }
    100%{
        top:15px;
    }
}
@media only screen and (min-width: 700px){
    nav{
        
        justify-content: space-between;
        padding: 0px 30px;
    }
    li{
        font-size: 12px;
    }
    a{
        position: relative;
    }
    .bottom-nav{
        display:none;
    }
    .m-hide{
        display:block;
    }
    .nav-links-desktop{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;

    }
    .logo-div{
        width: 30%;

    }
    a::after{
        bottom: 0;
        content: "";
        display: block;
        height: 1.5px;
        left: 50%;
        position: absolute;
        background: black;
        transition:  0.3s ease 0s, left 0.3s ease 0s;
        width: 0px;
        bottom:-2px;
    }
    a:hover:after { 
        width: 100%; 
        left: 0; 
      }
    .landing-vector{
        order: 0;
        background-image:url(img/landing\ cover.svg);
        background-repeat:no-repeat;
        background-position: bottom;
        background-size:cover; 

        width: 60%;
        height: 50%;
        padding:10%  0;
    }
    .container{
        display: flex;
        height: 100%;
    }
    .landing-img{
        width: 50%;
        order:2;
        margin-top:5%;
    }
    .landing-img img{
        height: 85%;
        display:block;
        
    }
    .landing-vector p{
        font-size: 18px;
    }
   
}