*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    max-height:100vh;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
nav{
    height: 6vh;
    display:flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #426ACF;
    position: relative;
    z-index: 3;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
    font-size: 25px;
    color:black;
    transition: 0.5s;
}
a li:hover{
    color: #426ACF;
}
.nav-links{
    background-color: blanchedalmond;
    width: 50%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px 400px 0px;
    transform: translateX(100%);
    transition: 0.5s ease-out;
    opacity: 0.94;
    position: relative;
    z-index: -2;
}
.nav-links.show{
    transform:translateX(0px)
}
#hamburger{
    position: absolute;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 15px;
    right: 20px;
    cursor: pointer;    
    z-index: 2;
    transition: 0.7s;
}
.btn-li{
    background-color: yellow;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    
}
.line{
    background-color: black;
    display: block;
    width: 25px;
    height: 3px;
    transition: ease-out 0.5s;
}
.container-mobile{
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: -200;
}
.hero-img{
    background-image: url(img/landing-img.png);
    background-repeat: no-repeat;
    background-position: 60% ;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -2;
    border-radius: 0px 0px 30px 30px;
}
.text-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding:30px 0px;
    line-height: 50px;
    z-index: -1;
}
.text-mobile p{
    width: 50%;
    text-align: center;
    line-height: 30px;
}
.cta-button{
    height:  40px;
    width:40%;
    border-radius: 30px;
    outline: none;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 30px;
}
.cta-button:hover{
    color:yellow;
    background-color:  #426ACF;
}
.confetti{
    position: absolute;
    bottom: -300px;
    width: 200px;
    height: 200px;
    left: -10px;
    transform: rotate(100deg);
    z-index: -2;
}
.confetti2{
    position: absolute;
    right: -140px;
    bottom: -300px;
    width: 300px;
    height: 250px;
    transform: rotate(60deg);
    z-index: -2;
}
.line:nth-child(1){
    transform-origin:left top;
}
.line:nth-child(3){
    transform-origin:left bottom;
}
#hamburger.open .line:nth-child(1){
  
    transform:rotate(45deg);
    
}
#hamburger.open .line:nth-child(3){

    transform:rotate(-45deg);
    
}
#hamburger.open .line:nth-child(2){
    transform:translateX(-20px);
    opacity: 0;
}
.container-desktop{
    display: none;
}
.hide{
    display: none;
}
@media only screen and (min-width: 1000px){
    .nav-links{
        background-color: transparent;
        flex-direction: row;
        padding: 0px;
        transform: translateX(0px);
        align-items: center;

        height: 100%;
    }
    .hide{
        display: block;
    }
    nav{
        align-items: center;
        position: fixed;
    }
    #hamburger{
        display: none;
    }
    li{
        font-size: 20px;
    }
    a li:hover{
        color:#EAC66B;
    }
    .btn-li{
        height: 30px;
        background-color: #EAC66B;
        padding: 4px 15px;
        font-weight: lighter;
        transition: 2s;
        border-radius: 20px;
    }
    .btn-li li{
        font-size: 20px;
        color:black;
    }
    .btn-li li:hover{
        color:white;
        
    }
    .container-mobile{
        display: none;
    }
    .container-desktop{
        display:flex;
        height: 100vh;
    }
    .vector-left{
        position: relative;
        background-image: url(img/vector-left-landing.png);
        background-position: 0px -20px;
        background-repeat: no-repeat;
        width: 100%;
        z-index: 2;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 90px;
        left:-30px;
    }
    .vector-left p{
        width: 60%;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
    }
    .vector-left h1{
        font-size: 40px;
    }
    .hero-img-desktop{
        height: 70%;
        position: relative;
        right:280px;
        top: 180px;
    }
    .cta-button-desktop{
        height:  50px;
        width:30%;
        border-radius: 30px;
        outline: none;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        transition: 0.5s ease;
        margin-top: 30px;
        outline: none;
        border: none;
    }
    .cta-button-desktop:hover{
        background-color: white;
        color:black;
    }
    .vector-left-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -60px;
        top:30px;
    }
    .confetti{
        position: absolute;
        width: 100%;
    }
    .confetti-up{
        position: absolute;
        top: -50px;
        left:50%;
    }
    .confetti-right-top{
        position: absolute;
        top: 50px;
        right:-200px;
    }
    .confetti-right-center{
        position: absolute;
        top: 40%;
        right:-30px;
        transform: rotate(25deg);
    }
    .confetti-right-bottom{
        position: absolute;
        bottom:30px;
        width: 200px;
        right:40%;
        transform: rotate(-70deg);
    }
}
